@font-face {
  font-family: "Tinos";
  src: url("/Fonts/Tinos/Tinos-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --layout-color: #c99e9ee2;
  --primary-color: #95cab7;
  --border-color: #121111;
  --border-radius: 1.8rem;
  --main-text-color: #1f1f1f;
  --small-text-color: #6b6b6b;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Tinos", serif;
  background: linear-gradient(to bottom, #a8e6cf, #ffffff) no-repeat;
  color: var(--main-text-color);
  font-weight: 800;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
}
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  padding: 3rem;
  gap: 3rem;
}
/* Sidebar  */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border: solid 2px var(--border-color);
  border-radius: var(--border-radius);
}
#todo-input {
  border-radius: var(--border-radius);
  font-size: 1.6rem;
  background: transparent;
  padding: 1.2rem 1.4rem;
  border: 1px solid var(--border-color);
}
.add-todo-btn {
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 1.2rem;
}
/* Ab hier beginnt der Container der Todocards */
#content {
  height: 88%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

button {
  border-radius: var(--border-radius);
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.todo-card button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.todo-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  gap: 1rem;
  padding: 1rem;
}
.time-stamp {
  font-size: 1.5rem;
  grid-row: 2;
  grid-column: 1;
  justify-self: start;
  align-self: end;
  padding-bottom: 0.2rem;
}
.done-div {
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.85;
}
.done-div p {
  text-decoration: line-through;
}

.delete-btn::before {
  content: "\2715";
  font-size: 1.5rem;
  font-weight: bold;
}
.update-btn::before {
  content: "\27F2";
  font-size: 1.5rem;
  font-weight: bold;
}
.update-btn.undone::before {
  content: "\2713";
}

.todo-text {
  font-size: 2.4rem;
}
.todo-actions {
  display: flex;
  gap: 0.4rem;
  grid-column: 2;
  grid-row: 2;
}
