* {
  margin: 0;
  padding: 0;
}
:root {
  --layout-color: #e9b4b4;
}
html {
  font-size: 62.5%;
}
.title {
  font-size: 2.5rem;
  color: rgb(58, 247, 58);
  text-align: center;
  background-color: #d1f2eb;
}
.container {
  background-color: var(--layout-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  padding: 3rem;
  gap: 3rem;
}
.sidebar {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content {
  background-color: var(--layout-color);
  height: 85%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 3rem;
}

#todo-input {
  border: none;
  font-size: 4rem;
  margin: 2rem;
  background-color: var(--layout-color);
}
.add-todo-btn {
  border-radius: 1rem;
  height: 4rem;
  font-size: 2rem;
  margin: 2rem;
  text-transform: uppercase;
}

button {
  border-radius: 1rem;
  text-transform: uppercase;
  background: #a8e6cf;
}

.done {
  background: #333;
}
